.DS_Store
.idea

#accounts-service
accounts-service/target

#cards-service
cards-service/target

#config-server
config-server/target

#loans-service
loans-service/target

#eureka-server
eureka-server/target
